# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = "..\WeatherPy\my_data.csv"
cities_df = pd.read_csv(cities)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hithadhoo,-0.6000,73.0833,85.15,68,100,14.61,MV,1651351809
1,Waddān,29.1614,16.1390,81.12,16,73,24.61,LY,1651351809
2,Bluff,-46.6000,168.3333,63.81,64,100,11.83,NZ,1651351809
3,Dikson,73.5069,80.5464,17.49,94,100,19.01,RU,1651351809
4,New Norfolk,-42.7826,147.0587,58.50,67,100,4.00,AU,1651351809

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"].astype(float)

heat_layer =gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False,max_intensity=10,
                                point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
perfect_df = cities_df[(cities_df['Max Temp'] >= 70) & (cities_df['Max Temp'] <= 90)]
perfect_df = perfect_df[perfect_df['Wind Speed'] <= 10]
perfect_df = perfect_df[perfect_df['Cloudiness'] <= 10]
perfect_df = perfect_df[perfect_df['Humidity'] <= 65]
perfect_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,Adrar,20.5022,-10.0711,81.91,10,0,7.90,MR,1651351809
37,Gerāsh,27.6652,54.1371,71.74,47,0,5.75,IR,1651351809
97,Saint George,37.1041,-113.5841,83.79,11,0,5.01,US,1651351809
160,Puerto Escondido,15.8500,-97.0667,87.58,55,3,8.52,MX,1651351809
199,Laguna,38.4210,-121.4238,82.06,37,0,6.91,US,1651351809
214,Morro Bay,35.3658,-120.8499,86.25,50,8,8.99,US,1651351809
310,Ondjiva,-17.0667,15.7333,70.32,41,0,5.53,AO,1651351809
347,San Fernando del Valle de Catamarca,-28.4696,-65.7852,71.78,46,1,8.01,AR,1651351809
351,Santiago,-33.4569,-70.6483,74.28,32,0,9.22,CL,1651351809
395,Butwāl,27.7006,83.4484,72.37,60,1,3.11,NP,1651351809
398,Fuerte Olimpo,-21.0415,-57.8738,88.70,39,6,2.82,PY,1651351809
424,Omīdīyeh,30.7597,49.7050,80.83,44,7,4.74,IR,1651351809
432,Havelock,34.8791,-76.9013,75.20,64,0,3.44,US,1651351809
469,Araouane,18.9048,-3.5265,85.28,9,0,9.48,ML,1651351809
483,Surab,28.4914,66.2585,70.00,17,3,3.18,PK,1651351809

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = perfect_df
hotel_df['Hotel Name'] =""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
16,Adrar,20.5022,-10.0711,81.91,10,0,7.90,MR,1651351809,
37,Gerāsh,27.6652,54.1371,71.74,47,0,5.75,IR,1651351809,
97,Saint George,37.1041,-113.5841,83.79,11,0,5.01,US,1651351809,
160,Puerto Escondido,15.8500,-97.0667,87.58,55,3,8.52,MX,1651351809,
199,Laguna,38.4210,-121.4238,82.06,37,0,6.91,US,1651351809,
214,Morro Bay,35.3658,-120.8499,86.25,50,8,8.99,US,1651351809,
310,Ondjiva,-17.0667,15.7333,70.32,41,0,5.53,AO,1651351809,
347,San Fernando del Valle de Catamarca,-28.4696,-65.7852,71.78,46,1,8.01,AR,1651351809,
351,Santiago,-33.4569,-70.6483,74.28,32,0,9.22,CL,1651351809,
395,Butwāl,27.7006,83.4484,72.37,60,1,3.11,NP,1651351809,
398,Fuerte Olimpo,-21.0415,-57.8738,88.70,39,6,2.82,PY,1651351809,
424,Omīdīyeh,30.7597,49.7050,80.83,44,7,4.74,IR,1651351809,
432,Havelock,34.8791,-76.9013,75.20,64,0,3.44,US,1651351809,
469,Araouane,18.9048,-3.5265,85.28,9,0,9.48,ML,1651351809,
483,Surab,28.4914,66.2585,70.00,17,3,3.18,PK,1651351809,

In [6]:
params = {
"keyword": "hotel",
"radius": 5000,
"key": g_key,
}

for index, row in hotel_df.interrows():
    lat = row['Lat']
    lng = row['Lng']

    params['location'] = f"{lat}, {lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotels = requests.get(base_url, params=params).json()

    hotels.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

AttributeError: 'DataFrame' object has no attribute 'interrows'

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure